body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;;
}

/* header  */
header h1{
    color: #ff3e03;
}
main{
    width: 80%;
    margin:0 auto;
}

/* image section  */
.image-section img{
    border-radius: 20px;
    height: 100%;
}

/* calculator section  */
.calculator-section p{
    font-size: 16px;
    margin: 10px;
}
.calculator-section input{
    padding: 10px;
    background: #DCDCDC;
    border-radius: 5px;
    margin: 10px;
}
.calculator-section{
    background-color: #F8F8F8;
    border-radius: 20px;
}
.calculator-section button{
    color: #FFFFFF;
    padding: 10px 30px;
    border: 2px solid #ff3e03;
    background: #ff3e03;
    border-radius: 5px;
}
.calculator-section button:hover{
    color: #ff3e03;
    background-color: #ffffff00;
}

/* save section  */

.save-section button{
    color: #FFFFFF;
    padding: 10px 20px;
    border: 2px solid #ff3e03;
    background: #ff3e03;
    border-radius: 5px;
}
.save-section button:hover{
    color: #ff3e03;
    background-color: #ffffff00;
}